<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <script>
        function update(nombre, numero, ciudad, correo) {

            console.log(nombre);
            document.getElementById('name').value = nombre;
            console.log(correo);
            document.getElementById('number').value = numero;
            document.getElementById('city').value = ciudad;
            document.getElementById('email').value = correo;


        }
    </script>

</head>


<body>
    <%- include('./partials/header') %>
    <div style="height: 100vh;">
        <% if (results.length>0){ %>
        <table class="table table-borderless">
            <thead>
                <tr>

                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Numero</th>
                    <th>Ciudad</th>
                    <th>Correo</th>


                </tr>
            </thead>

            <tbody>
                <% for(var i=0; i < results.length; i++) { %>
                <tr>
                    <td><%= results[i].id %></td>
                    <td><%= results[i].name %></td>
                    <td><%= results[i].number %></td>
                    <td><%= results[i].city %></td>
                    <td><%= results[i].email %></td>

                    <td><img src="/imagenes/edit_240px.png" style="width: 30px;"
                            onclick="update( '<%= results[i].name %>', '<%= results[i].number %>', '<%= results[i].city %>',
                            '<%= results[i].email %>') "> </td>

                    <!-- <td><button>update </button></td> -->
                </tr>
                <%} %>
            </tbody>
        </table>
        <!-- txtName.value = results[i].name -->
        <% }else { %>
        <h1>No hay ningun customer</h1>
        <% } %>

        <div class="formulario" style="margin-top: 100px;">
            <H2>Actualizar</H2>

            <form id="formulario-c" action="/customers" method="POST">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Nombre</label>
                    <input type="text" name="name" id="name" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Telefono</label>
                    <input type="text" name="number" id="number" class="form-control" id="exampleFormControlInput1"
                        placeholder="809-123-4567">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Ciudad</label>
                    <input type="text" name="city" id="city" class="form-control" id="exampleFormControlInput1"
                        placeholder="Santo Domingo">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Correo Electronico</label>
                    <input type="email" name="email" id="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>


               
                <div style="margin-top: 15px;">
                    <center><button type="submit" class="btn btn-success" id="boton-formulario">Actualizar</button>
                    </center>
                </div>

            </form>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>


</html>